@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-rows:4;
  grid-template-columns: 1;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Sometype Mono', monospace;


}

header{
  min-width: 100vw;
  display: grid;
  grid-row-start: 1;
  justify-content: center;
  align-items: center;
}

.textBox{
  display: grid;
  grid-template-rows: 3;
  max-width: 25vh;
}

footer{
  display: grid;
  grid-row: 4;
  justify-content: end;
  align-items: center;
}

#app{
  display: grid;
  grid-row-start: 2;
  justify-content: center;
  align-items: center;
}

.todo{
  border: 1px solid black;
  border-radius: 10px;
  width: 25vw;
  min-height: 50vh;
  background-color: antiquewhite;
}

.toDoLi{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;

}

.input-task{
  display: flex;
  justify-content: center;
  grid-row-start: 3;
  height: 20px;
}