body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: beige;
}

h2{
  display: inline;
  padding-right: 15px;
}

.toDoLi {
  margin: 50px;
  padding: 10px;

}